%h1 Ask your questions here!

= link_to 'Nieuwe vraag', new_admin_question_path, class: 'btn btn-primary'
.panel.panel-default
	.panel-heading Alle vragen
	%table.table.table-striped
		%tr
			%td ID
			%td Vraag
			%td Details
			%td Edit
			%td Delete

		- @question.each do |question|
			%tr 
				%td= question.id
				%td= question.question
				%td= link_to 'Show', admin_question_path(question), class: 'btn btn-success'
				%td= link_to 'Wijzig', edit_admin_question_path(question), class: 'btn btn-warning'
				%td= link_to 'Verwijderen', admin_question_path(question), method: :delete, data:{confirm: "Weet je het zeker?"}, class: 'btn btn-danger'
