%table.table
	%tr
		%td= @question.id
	%tr
		%td= @question.question
	%tr
		%td= @question.created_at
	%tr
		%td= @question.updated_at
	%tr
		%td= link_to 'Overzicht', admin_questions_path, class: 'btn btn-success'
	%tr
		%td= link_to 'Wijzig', edit_admin_question_path, class: 'btn btn-warning'
	%tr
		%td= link_to 'Verwijderen', admin_question_path, method: :delete, data:{confirm: "Weet je het zeker?"}, class: 'btn btn-danger'
