!!!
%html
	%head
		%title Leraren Quiz

		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

		= javascript_include_tag 'application', 'data-turbolinks-track' => true
    
		= csrf_meta_tags
  
	%body
		#menu
			%ul
				%li
					%a 
						= link_to 'Home', questions_url
				%li
					%a 
						= link_to 'Hoofdstukken', chapters_url
		= yield